header>div#logo {
    position          : relative;
    height            : 260px;
    display           : flex;
    flex-direction    : column;
    justify-content   : center;
    gap               : unset;
    border-right      : 1px solid;
    border-right-color: #ccc;
    border-right-color: rgba(255, 255, 255, 0.2);
    background-color  : rgba(255, 255, 255, 0.2);
    overflow          : hidden;
}

header>div#logo>h4 {
    z-index: 10;
    margin : 0 20px;
}

header>div#logo>h1 {
    z-index      : 50;
    margin       : 0 37px;
    margin-bottom: -5px;
}

header>div#logo>#hotline_logo {
    z-index            : -50;
    position           : absolute;
    -webkit-filter     : blur(2px) brightness(1.3);
    filter             : blur(2px) brightness(1.3);
    /* background-color: var(--background); */
}

header>div#logo>#hotline_logo>article {
    margin-bottom: 30px;
}

aside>section#hotline {
    clip-path: inset(0 0 0 250px);
}
