<ol>
  <li value="0">под ножом нет красной точки</li>
  <br>
  <li>чоколад запрещено</li>
  <li>пажилой запрещено</li>
  <li>запрещено бдабдабаб</li>
  <li>чи да запрещено</li>
  <li>а шо запрещено</li>
  <li>не быть дебилом</li>
  <li>Админ всегда прав</li>
  <li>админа не тролить</li>
  <li>гоша джикия запрещен</li>
  <li>Егор Родин запрещен</li>
  <br>
  <li>у нас будет сервер майнкрафт</li>
  <li>рофлить запрещено</li>
  <li>Мария Мышкина запрещена</li>
  <li>ПОРНО ЗАПРЕЩЕНО (16+)</li>
  <li>сиськи запрещены</li>
  <li>я реально кикну</li>
  <li>Пишешь не кошку? могу мут выдать 1 час</li>
  <li>пингуешь меня по хуйне? мут 1 день</li>
  <li>СПОЙЛЕРИТЬ КОШКУ С ТВИТТЕРА ЗАПРЕЩЕНО</li>
  <li>ЗАПРЕЩЕНО Я СКАЗАЛ Я НЕ ШУЧУ НАХУЙ</li>
  <br>
  <li>Попы тоже запрещено особенно Маши</li>
  <li>ладно сиси можно</li>
  <li>чичас запрещено</li>
  <li>делать что я скажу</li>
  <li>ладно прошлое правило это шутка)</li>
  <li>ауе запрещено</li>
  <li>не оскорблять кошку стикерами</li>
  <li>жмых запрещен во всех проявлениях</li>
  <li>жмыхать запрещено</li>
  <li>ЧСВ запрещено</li>
  <br>
  <li>попы разрешены только если не видно того самого</li>
  <li>враньше разрешено потому что это нормально</li>
  <li>Attentionwhore запрещены</li>
  <li>картинки в меру будет много убью</li>
  <li>Саша Синтаров запрещен</li>
  <li>не обамить</li>
  <li>аудиоприколы про Арсена запрещены</li>
  <li>рэп запрещен (законпроект Фурсовой)</li>
  <li>сказал "говнявила" заблоикрован</li>
  <li>хуявило употреблять запрещено</li>
  <br>
  <li>пиздявила употреблять запрещено</li>
  <li>оскорбление правил запрещено поняли суки? теперь че</li>
  <li>СРАТЬ ЗАПРЕЩЕНО</li>
  <li>Спам запрещен</li>
  <li>На дуэли проебал не вернем никогда</li>
  <li>Жир запрещен</li>
  <li>у нас есть сервер майнкрафт</li>
  <li>Дуэли запрещены</li>
  <li>ножи запрещены выгоню</li>
  <br>
  <li value="51">пипи эпи запрещен</li>
  <li>чересчур умничать запрещено</li>
  <li>быть подписанным на паблик</li>
  <li>ЛЮБИТЬ КОШКУ МАШКУ</li>
  <li>демократия запрещена</li>
  <li>грязнули разрешены</li>
  <li>брух bruh запрещен</li>
  <li>oof запрещен</li>
  <li>чуитс запрещено</li>
  <li>кринжевать запрещено</li>
  <br>
  <li>русские националисты не приветствуются</li>
  <li>любые националисты тоже</li>
  <li>упоминать правило №50 запрещено</li>
  <li>будете помогать заблокированным заблокирую</li>
  <li>не керокерокать</li>
  <li>На тупые вопросы не отвечаем</li>
  <li>Так называемые "мемы" запрещены</li>
  <li>Вопросы по серверу в паблике сервера или беседе сервера</li>
  <li>спойлерить запрещено суки</li>
  <li>ЛАДНО кошатник разрешено 6+ но если адекват</li>
  <br>
  <li>Мир тьмы разрешен (кодзимов попросил)</li>
  <li>Вредные советы давать СТРОГО запрещено</li>
  <li>пропаганда психотропных веществ запрещена наркалыги ёбаные идите долбите анус свой тупые суки</li>
  <li>за оскорбления извините</li>
  <li>триган дэ вне закона (законпроект Динозавра)</li>
  <li>Не ведите себя как быдло</li>
  <li>объяснять что такое буккаке запрещено</li>
  <li>веп панк запрещен</li>
  <li>I Hate Myself For Loving You ЗАПРЕЩЕН</li>
  <li>доминировать как быдло типо мне похуй хаха мне похуй или ты с кем разговариваешь и картинки кидать запрещено</li>
  <br>
  <li>друзья Даркью Пельменя и он сам запрещены</li>
  <li>Носок Террохин запрещен</li>
  <li>Не оскорблять отель Хасбин</li>
  <li>Даркью Пельмень запрещен</li>
  <li>Андрей Останин запрещен</li>
  <li>НЕ СПОЙЛЕРИТЬ КОШКУ ЕЩЁ РАЗ ГОВОРЮ В ГРУППЕ КОШКА И НАХУЙ ПУБЛИКОВАТЬ ЕСЛИ ЕЁ ВСЕ ВИДЕЛИ. КТО СПОЙЛЕРИТ ВЕЧНЫЙ БАН. БЫЛ ТУТ ОДИН....</li>
  <li>хамуд запрещён</li>
  <li>нуждики разрешены (общим голосованием)</li>
  <li>хамуд теперь разрешён чтобы не было червячков</li>
  <li>ПОЛИТИКА ЗАПРЕЩЕНА (можно в беседе Альянса З.)</li>
  <br>
  <li>Оскорбления не в шутку запрещены</li>
  <li>Паблик "Оскорбления животных" запрещён</li>
  <li>Мужские органы может показывать только Дима Горшенин</li>
  <li>Алибека Захарова не трогать, ему не хочется общаться</li>
  <li>хрустящий малыш</li>
  <li>поддерживающим россию в войне с украиной моментальный бан без объяснения причин</li>
  <li>Random-Favorite Character ни о чём не просить</li>
  <li>Елизавета Кишкомотина (vk.com/id201222738) запрещена</li>
  <li>тупить разрешено 1 раз в течение 30 минут</li>
  <li>срать в группу запрещено</li>
  <br>
  <li>набивать репутацию друг другу запрещено</li>
  <li>писать хуйню запрещено</li>
  <li>толерантность разрешена</li>
  <li>правила теперь есть</li>
  <li>я могу выгонять зашедших по поиску долбаёбов</li>
  <li>про овечек писать только хорошее</li>
  <li>даркью пельмень и его шпана запрещены</li>
  <li>клишированные долбаёбы запрещены</li>
  <li>обсирать анархию ЗАПРЕЩЕНО</li>
  <li>Влада Грибоедина (vk.com/id368523707) запрещена</li>
  <br>
  <li>критиковать правила запрещено</li>
  <li>лайки ставить в группе партии горничные</li>
  <li>Любить родину</li>
  <li>всем девушкам випки</li>
  <li>читать анарзию</li>
  <li>Тупить запрещено</li>
  <li>Тупые вопросы запрещены</li>
  <li>не употреблять словосочетание ловушка джокера</li>
  <li>я могу банить за неадекватные публикации, спам и флуд по своему желанию</li>
  <li>кто зашел намеренно срать не скрывал это и не общался наказание пролом нижней челюсти</li>
  <br>
  <li>писать мне похуй запрещено</li>
  <li>писать ок запрещено</li>
  <li>писать + запрещено</li>
  <li>писать + разрешено</li>
  <li>Администратор имеет право забанить человека если он сам того пожелал</li>
  <li>15.01.2022 в 20:39 здесь ничего не произошло</li>
  <li>снюс запрещён (законпроект Никиты Вальбдаузера)</li>
  <li>мясо запрещено</li>
  <li>мясо запрещено</li>
  <li>всех погибших исключают из беседы</li>
  <br>
  <li>если чувак видно что зашел насрать а не общаться то я воспринимаю это как флуд и распрояжаюсь по правилу 129</li>
  <li>Отказался читать правила получишь пизды</li>
  <li>упоминание непризнанных альянсов запрещено</li>
  <li>Все группы которые выставляют себя за Альянс Добряков запрещены</li>
  <li>мнемотехника охуенна</li>
  <li>главное — БУДЬТЕ БЛЯДЬ ЛЮДЬМИ, серьёзно.</li>
  <li>играть в аллоды онлайн на сервере приют</li>
  <li>какого хуя вы не общаетесь весь день и как только я начинаю что-то рассказывать перебиваете меня и рассказываете свою тупую хуйню?</li>
  <li>мясо запрещено</li>
  <br>
  <li>В БЕСЕДЕ ПРАВИЛ НЕТ</li>
  <li>обсуждение и показ трупов запрещены</li>
  <li>знать все серии пони ОБЯЗАТЕЛЬНО</li>
  <li>подисаться на мой ютуб канал</li>
  <li>сдать тест на знание песен инстасамки</li>
  <li>шарить за бебру</li>
  <li>правило номер 129 (связано с 131) было хакировано альянсом злодеев и мы прилагаем все усилия для его восстановления</li>
</ol>
