{% block css %}
<link rel="stylesheet" type="text/css" href="/css/trolling.css" />
{% endblock %}

{% block body %}
<img id="what_image" class="hide" src="/images/what.png" />
<audio id="what_sound" class="hide" src="/sounds/what.mp3" controls></audio>
<audio id="sound_vk" class="hide" src="/sounds/vk.mp3" controls></audio>
<audio id="sound_whatsup" class="hide" src="/sounds/whatsup.mp3" controls></audio>
<audio id="sound_iphone" class="hide" src="/sounds/iphone.mp3" controls></audio>
{% endblock %}

{% block js %}
<script src="/js/trolling.js" defer></script>
{% endblock %}
